@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@media screen and (min-width: 600px) {

*{
  margin: 10;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}
.wrapper{
  background: #4287f5;
  position: absolute;
  width: 100%;
}
.wrapper nav{
  position: sticky;
  display: flex;
  max-width: calc(95% - 20px);
  margin: 0 auto;
  height: 170px;
  align-items: center;
  justify-content: space-between;
  top: auto;
}
nav .content{
  display: flex;
  align-items: center;
}
nav .content .links{
  margin-left: 80px;
  display: flex;
}
.content img {
position: absolute;
width: 220px;
height: 90px;
left: 550px;
top: -55px;

}
.content .links li{
  list-style: none;
  line-height: 70px;
}
.content .links li a,
.content .links li label{
  color: white;
  font-size: 18px;
  font-weight: 500;
  padding: 9px 17px;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.content .links li label{
  display: none;
}
.content .links li a:hover,
.content .links li label:hover{
  background: #323c4e;
}
.wrapper .search-icon,
.wrapper .menu-icon{
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  line-height: 70px;
  width: 70px;
  text-align: center;
}
.wrapper .menu-icon{
  display: none;
}
.wrapper #show-search:checked ~ .search-icon i::before{
  content: "\f00d";
}

.wrapper .search-box{
  position: absolute;
  height: 100%;
  max-width: calc(100% - 60px);
  width: 100%;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}
.wrapper #show-search:checked ~ .search-box{
  opacity: 1;
  pointer-events: auto;
}
.search-box input{
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 17px;
  color: #fff;
  background: #171c24;
  padding: 0 100px 0 15px;
}
.search-box input::placeholder{
  color: #f2f2f2;
}
.search-box .go-icon{
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  line-height: 60px;
  width: 70px;
  background: #171c24;
  border: none;
  outline: none;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}
.wrapper input[type="checkbox"]{
  display: none;
}

/* Dropdown Menu code start */
.content .links ul{
  position: absolute;
  background: #171c24;
  top: 80px;
  z-index: 0;
  opacity: 0;
  visibility: hidden;
}
.content .links li:hover > ul{
  top: 70px;
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease;
}
.content .links ul li a{
  display: block;
  width: 100%;
  line-height: 30px;
  border-radius: 0px!important;
}
.content .links ul ul{
  position: absolute;
  top: 0;
  right: calc(-180% + 8px);
}

.content .links ul li{
  position: relative;
}
.content .links ul li:hover ul{
  top: 0;
}


/* Responsive code start */
@media screen and (max-width: 720px){
  .wrapper nav{
    max-width: 100%;
    padding: 0 20px;
  }
  nav .content .links{
    margin-left: 30px;
  }
  .content .links li a{
    padding: 8px 13px;
  }
  .wrapper .search-box{
    max-width: calc(100% - 100px);
  }
  .wrapper .search-box input{
    padding: 0 100px 0 15px;
  }
}

@media screen and (max-width: 720px){
  .wrapper .menu-icon{
    display: block;
  }
  .wrapper #show-menu:checked ~ .menu-icon i::before{
    content: "\f00d";
  }
  nav .content .links{
    display: block;
    position: fixed;
    background: #14181f;
    height: 100%;
    width: 90%;
    top: 70px;
    left: -100%;
    margin-left: 0;
    max-width: 350px;
    overflow-y: auto;
    padding-bottom: 100px;
    transition: all 0.3s ease;
  }

  nav #show-menu:checked ~ .content .links{
    left: 0%;
  }

  .content .links li{
    margin: 15px 20px;
  }
  .content .links li a,
  .content .links li label{
    line-height: 40px;
    font-size: 20px;
    display: block;
    padding: 8px 18px;
    cursor: pointer;
  }
  .content .links li a.desktop-link{
    display: none;
  }

  /* dropdown responsive code start */
  .content .links ul,
  .content .links ul ul{
    position: static;
    opacity: 1;
    visibility: visible;
    background: none;
    max-height: 0px;
    overflow: hidden;
  }
  .content .links #show-features:checked ~ ul,
  .content .links #show-services:checked ~ ul,
  .content .links #box1:checked ~ ul{

    max-height: 150vh;
  }
  .content .links ul li{
    margin: 10px 20px;
    text-indent: 10px;
  }
  .content .links ul li a{
    font-size: 18px;
    line-height: 30px;
    border-radius: 5px!important;
  }
}

@media screen and (max-width: 400px){
  .wrapper nav{
    padding: 0 10px;
  }
  .content .logo a{
    font-size: 27px;
  }
  .wrapper .search-box{
    max-width: calc(90% - 50px);
  }
  .wrapper .search-box .go-icon{
    width: 30px;
    right: 0;
  }
  .wrapper .search-box input{
    padding-right: 30px;
  }
}

body{
  font-family: 'Poppins';
  text-align: center;
  color: #2A7A54;
}

.wrapper1{
  width: 90%;
  margin: 0 auto
}

header{
  width: 100%;
  height: 100px;
  z-index: 20;
}

.banner-area{
  background-image: url(https://www.google.com/search?q=nature+mountain+wallpaper&rlz=1C5CHFA_enHK984HK987&source=lnms&tbm=isch&sa=X&sqi=2&pjf=1&ved=2ahUKEwjelpvjqoX9AhVS0GEKHQ6tD9QQ_AUoAXoECAEQAw&biw=1440&bih=680&dpr=2#imgrc=_9LwqLgyKHqeMM);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  top: 30px;
  height: 70vh;
  width: 100%

}

p{
 width: 80%
 position: center;
}

.content img{
  margin: 50px auto;
  width: 100%;
  padding: 10px;
  float: right;
  width: 200px;
  height: 80px;
  padding: 0 20px 0 0
  top: 2%;
}

h3{
  text-align: justify;
  padding: 20px;
  width: 80%;
  top: -10%;
}

li{
  text-align: left;
    margin: 20;
    text-indent: 20px;
text-align: start;
text-align-last: start;
}

.text3{
  width: 130%;
}

.banner-area h2{
  padding-top: 19%;
  font-size: 50px;
  color: white;
}

*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
}
body {
  width: 90px;
  height: 820%;
  background-image: linear-gradient(180deg, red, blue);
}

footer{
  position: justify;
  background: #40ccff;
  width: 100%;
  bottom: 0;
  left: 0;
}
footer .content{
  max-width: 1250px;
  margin: auto;
  padding: 2px 40px 40px 40px;
}
footer .content .top{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: -40px;
}
.content .top .logo-details{
  color: #fff;
  font-size: 30px;
}
.content .top .media-icons{
  display: flex;
}
.content .top .media-icons a{
  height: 40px;
  width: 40px;
  margin: 0 8px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  color: #fff;
  font-size: 17px;
  text-decoration: none;
  transition: all 0.4s ease;
}
.top .media-icons a:nth-child(1){
  background: #4267B2;
}
.top .media-icons a:nth-child(1):hover{
  color: #4267B2;
  background: #fff;
}
.top .media-icons a:nth-child(2){
  background: #1DA1F2;
}
.top .media-icons a:nth-child(2):hover{
  color: #1DA1F2;
  background: #fff;
}
.top .media-icons a:nth-child(3){
  background: #E1306C;
}
.top .media-icons a:nth-child(3):hover{
  color: #E1306C;
  background: #fff;
}
.top .media-icons a:nth-child(4){
  background: #0077B5;
}
.top .media-icons a:nth-child(4):hover{
  color: #0077B5;
  background: #fff;
}
.top .media-icons a:nth-child(5){
  background: #FF0000;
}
.top .media-icons a:nth-child(5):hover{
  color: #FF0000;
  background: #fff;
}
footer .content .link-boxes{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
footer .content .link-boxes .box{
  width: calc(100% / 5 - 10px);
}
.content .link-boxes .box .link_name{
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 10px;
  position: relative;
}
.content .link-boxes .box li{
  margin: 6px 0;
  list-style: none;
}
.content .link-boxes .box li a{
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  opacity: 0.8;
  transition: all 0.4s ease
}
.content .link-boxes .box li a:hover{
  opacity: 1;
  text-decoration: underline;
}
.content .link-boxes .input-box{
  margin-right: 55px;
}
.link-boxes .input-box input{
  height: 40px;
  width: calc(100% + 55px);
  outline: none;
  border: 2px solid #AFAFB6;
  background: #140B5C;
  border-radius: 4px;
  padding: 0 15px;
  font-size: 15px;
  color: #fff;
  margin-top: 5px;
}
.link-boxes .input-box input::placeholder{
  color: #AFAFB6;
  font-size: 16px;
}
.link-boxes .input-box input[type="button"]{
  background: #fff;
  color: #140B5C;
  border: none;
  font-size: 18px;
  font-weight: 500;
  margin: 4px 0;
  opacity: 0.8;
  cursor: pointer;
  transition: all 0.4s ease;
}
.input-box input[type="button"]:hover{
  opacity: 1;
}
footer .bottom-details{
  width: 100%;
  background: white;
}
footer .bottom-details .bottom_text{
  max-width: 1250px;
  margin: auto;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
}
.bottom-details .bottom_text span,
.bottom-details .bottom_text a{
  font-size: 14px;
  font-weight: 300;
  color: white;
  opacity: 0.8;
  text-decoration: none;
}
.bottom-details .bottom_text a:hover{
  opacity: 1;
  text-decoration: underline;
}
.bottom-details .bottom_text a{
  margin-right: 10px;
}
@media (max-width: 90px) {
  footer .content .link-boxes{
    flex-wrap: wrap;
  }
  footer .content .link-boxes .input-box{
    width: 40%;
    margin-top: 10px;
  }
}
@media (max-width: 700px){
  footer{
    position: relative;
  }
  .content .top .logo-details{
    font-size: 26px;
  }
  .content .top .media-icons a{
    height: 35px;
    width: 35px;
    font-size: 14px;
    line-height: 35px;
  }
  footer .content .link-boxes .box{
    width: calc(100% / 3 - 10px);
  }
  footer .content .link-boxes .input-box{
    width: 60%;
  }
  .bottom-details .bottom_text span,
  .bottom-details .bottom_text a{
    font-size: 12px;
  }
}
@media (max-width: 520px){
  footer::before{
    top: 145px;
  }
  footer .content .top{
    flex-direction: column;
  }
  .content .top .media-icons{
    margin-top: 16px;
  }
  footer .content .link-boxes .box{
    width: calc(100% / 2 - 10px);
  }
  footer .content .link-boxes .input-box{
    width: 100%;
  }
}
.header {
  padding: 40px;
  text-align: left;
  background: linear-gradient(to top, blue 0%, blue 50%, yellow 50%, yellow 100%);
  color: white;
}

.header h1 {
  padding: 2px;
  font-size: 56px;
  left: -80%;
  position: fixed;

}

.header p {
  font-size: 36px;
  left: -80%;
  border: 0px solid gray;
  margin: 0;
  width: 450px;
  padding: -10px;
  top: -30%;
}

.hero-text {
  text-align: left;
  position: absolute;
  top: 80%;
  left: 30%;
  transform: translate(-50%, -50%);
  color: hsl(0, 0%, 100%);
}

.hero-text p{
  border: 0px solid gray;
width: 500px;
transform: translate(0%, 18%);

}

.hero-text button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 12px 60px;
  color: white;
  background-color: #18A0FB;
  border: 2px solid #E3FF38;
  text-align: center;
  cursor: pointer;
  transform: translate(0%, 120%);
  border-radius: 6px;
  position: absolute;
}

.hero-text button:hover {
  background-color: #555;
  color: white;
  transition: all 0.3s ease;

}

.hero-text img {
  position: fixed;
width: 490px;
height: 490px;
left: 615px;
top: -20%;
border-radius: 10%;
}

.hero-text2 {
  padding: 2px;
  font-size: 60px;
  left: 0%;
  transform: translate(0%, 550%);
}

.box1 button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 12px 60px;
  color: black;
  background-color: #e0fb18;
  text-align: center;
  cursor: pointer;
  transform: translate(250%, 530%);
  border-radius: 15px;
  width: 302px;
  height: 81px;
  font-size:30px
  position: static;
}

.smallbox2 {
  position: absolute;
  background: rgba(222, 222, 222, 0.467);
  height: 205%;
  width: 392px;
  left: -27%;
  top: 240%;
  border-radius: 5%;
}

.smallbox3 {
  position: absolute;
  background: rgba(222, 222, 222, 0.467);
  height: 205%;
  width: 392px;
  left: 66%;
  top: 240%;
  border-radius: 5%;
}

.smallbox4 {
  position: absolute;
  background: rgba(222, 222, 222, 0.467);
  height: 205%;
  width: 392px;
  left: 160%;
  top: 240%;
  border-radius: 5%;
}

.boxxer1 img{
  top: 240%;
  left: -27%;
  width: 392px;;
  height: 265px;
  border-radius: 5%;
}

.boxxer2 img {
  width: 392px;
  height: 265px;
  left: 66%;
  top: 240%;
  border-radius: 5%;
}

.boxxer3 img {
  width: 392px;
  height: 265px;
  left: 160%;
  top: 240%;
}

.boxxer1 h4 {
  position: relative;
  left: -22%;
  top: 1000px;
  font-size: 25px;
}

.boxxer1 h2 {
  position: absolute;
width: 330px;
height: 90px;
left: -98px;
top: 1400px;
}

.boxxer1 h3 {
  position: absolute;
width: 330px;
height: 90px;
left: -64px;
top: 1650px;
font-size: 25px;
}


.boxxer2 h4 {
  position: relative;
  left: 72%;
  top: 960px;
font-size: 25px;
}

.boxxer2 h2 {
  position: absolute;
width: 330px;
height: 90px;
left: 360px;
top: 1400px;
}

.boxxer2 h3 {
  position: absolute;
width: 330px;
height: 90px;
left: 400px;
top: 1650px;
font-size: 25px;
}

.boxxer3 h4 {
  position: relative;
  left: 166%;
  top: 920px;
  font-size: 25px;
}

.boxxer3 h2 {
  position: absolute;
width: 330px;
height: 90px;
left: 840px;
top: 1400px;
}

.boxxer3 h3 {
  position: absolute;
width: 330px;
height: 90px;
left: 800px;
top: 1650px;
font-size: 25px;
}

.testimonials h4 {
  position: absolute;
  left: 380px;
  top: 1950px;
  font-size: 50px;
}

.testi1 {
  position: absolute;
  background: rgba(222, 222, 222, 0.467);
  width: 461px;
height: 689px;
  left: 7%;
  top: 525%;
  border-radius: 5%;
}

.testi2 {
  position: absolute;
  background: rgba(222, 222, 222, 0.467);
  width: 458px;
height: 689px;
  left: 120%;
  top: 525%;
  border-radius: 5%;
}

.testi1 img {
  position: absolute;
  width: 200px;
  height: 200px;
  left: 130px;
  top: 4%;
border-radius: 100px;
}

.testi2 img {
  position: absolute;
  width: 200px;
  height: 200px;
  left: 28%;
  top: 4%;
  border-radius: 100px;
}

.testi1 h4 {
position: absolute;
width: 686px;
height: 31px;
left: 120px;
top: 270px;
font-size: 24px;
}

.fa {
  font-size: 20%;
  transform: translate(1200%, 2020%);
}

.checked {
  color: orange;
  transform: translate(1200%, 2020%);
}

.testi1 h3 {
  position: absolute;
width: 396px;
height: 90px;
left: 30px;
top: 350px;
}

.testi2 h4 {
  position: absolute;
  width: 686px;
  height: 31px;
  left: 170px;
  top: 268px;
  font-size: 24px;
  }

  .testi2 h3 {
    position: absolute;
  width: 396px;
  height: 90px;
  left: 30px;
  top: 350px;
  }

  .page4 h4 {
    position: absolute;
    width: 686px;
    height: 31px;
    left: -30px;
    top: 3100px;
    font-size: 50px;
    }

  
    .page4 h3 {
    width: 396px;
    height: 90px;
    left: -50px;
    top: 3300px;
    font-size: 30px;
    position: absolute;
      display: flex;
      align-items: center;
      justify-content: center
    }

    .page4 img {
      position: absolute;
      width: 490px;
    height: 570px;
      left: 130%;
      top: 730%;
      border-radius: 5%;
    }

    .page4img img {
      position: absolute;
      width: 490px;
    height: 570px;
      left: 80%;
      top: 755%;
      border-radius: 5%;
    }

    .page4 button {
      border: none;
      outline: 0;
      display: inline-block;
      padding: 12px 60px;
      color: rgb(255, 255, 255);
      background-color: #188dfb;
      text-align: center;
      cursor: pointer;
      left: -10px;
    top: 3400px;
      border-radius: 15px;
      width: 302px;
      height: 81px;
      font-size:30px
      position: static;
    }

.page5 h4{
    position: absolute;
    width: 698px;
    height: 31px;
    left: 0px;
    top: 3900px;
    font-size: 45px;
    }
}

.photogrid1 img {
  position: absolute;
  width: 250px;
  height: 250px;
  left: 0%;
  top: 1010%;
  border-radius: 5%;
}

.photogrid2 img {
  position: absolute;
  width: 250px;
  height: 250px;
  left: 70%;
  top: 1010%;
  border-radius: 5%;
}

.photogrid3 img {
  position: absolute;
  width: 250px;
  height: 250px;
  left: 140%;
  top: 1010%;
  border-radius: 5%;
}

.photogrid4 img {
  position: absolute;
  width: 250px;
  height: 250px;
  left: 20%;
  top: 1090%;
  border-radius: 5%;
}

.photogrid5 img {
  position: absolute;
  width: 250px;
  height: 250px;
  left: 90%;
  top: 1090%;
  border-radius: 5%;
}

.photogrid6 img {
  position: absolute;
  width: 250px;
  height: 250px;
  left: 160%;
  top: 1090%;
  border-radius: 5%;
}

.bottomnavbar {
  position: absolute;
  background: rgb(255, 255, 255);
  width: 1457px;
height: 380px;
  left: -40%;
  top: 1200%;
}

.bottomnavbar h4 {
position: absolute;
width: 173px;
height: 24px;
left: 80px;
top: 600%;
}

.page6 a {
  position: absolute;
  width: 173px;
  height: 24px;
  left: -15%;
  top: 1230%;
  color: black;
  }

  .page62 a {
    position: absolute;
    width: 173px;
    height: 24px;
    left: 18%;
    top: 1230%;
    color: black;
    }

    .page63 a {
      position: absolute;
      width: 173px;
      height: 24px;
      left: 50%;
      top: 1230%;
      color: black;
      }

      .page6img img {
        position: absolute;
        width: 240px;
        height: 100px;
        left: 85%;
        top: 1222%;
        color: black;
        }

        .page64 a {
          position: absolute;
          width: 173px;
          height: 24px;
          left: 148%;
          top: 1230%;
          color: black;
          }

          .page65 a {
            position: absolute;
            width: 173px;
            height: 24px;
            left: 185%;
            top: 1230%;
            color: black;
            }

            .page66 a {
              position: absolute;
              width: 173px;
              height: 24px;
              left: 220%;
              top: 1230%;
              color: black;
            }

.line {
  position: absolute;
  background: rgb(0, 0, 0);
  width: 1180px;
height: 2px;
  left: -10%;
  top: 1250%;
  border-radius: 5%;
}

.twittericon img {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 87%;
  top: 1260%;
  border-radius: 50%;
}

.instaicon img {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 100%;
  top: 1260%;
  border-radius: 50%;
}

.yticon img {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 112%;
  top: 1260%;
  border-radius: 50%;
}

.facebookicon img {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 124%;
  top: 1260%;
  border-radius: 50%;
}

.navbartext h4 {
  position: absolute;
  width: 2500px;
  height: 50px;
  left: 75%;
  top: 1278%;
color: black;
font-size: 14px;
}
